/const.py
__pycache__
/*.pickle
/pickle/*.pickle
/model/*.model
/model/webdb/*
/model/sugoole-juman.model
/output/*
/ldaModel/*
/data/*
/doc2vec/prototype.model
/verification/*.txt
/verification/*/*.txt
pluck_evaluation/
